@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --primary-color: #4a628a;
  --secondary-color: #7ab2d3;
  --header-color: #b9e5e8;
  --text-color: #dff2eb;
}
body {
  margin: 20px;
  font-family: "Roboto", sans-serif;
}

/* TODO  Change text color to header color from the root variables above */

h1,
h2,
h3 {
}

/* TODO  Change text color to text color from the root variables above */

p {
}

/* TODO: make the display grid, gap spacing 60px, template columns 3 that are 1fr each, max width 1200px, margin left and right auto and 20px for top and bottom */
.grid-container {
}

/* TODO  margin on the top and bottom 40px and top and left and right zero */
/* TODO add a border to the bottom that is 1px solid and color will be the secondary color */
/* TODO the grid span should be 3 */

header {
}

/* TODO span is 3, display grid, 2 columns 1fr each, gap is 60px, align the items center */
/* TODO make the border bottom solid 1px using the secondary color */
/* TODO padding to the bottom set to 40px */
article.featured {
}

/* TODO: make the width of the images 100%, but a border around it of 4px solid white, give a border radius of 8px */
article img,
article.featured img {
}

/* TODO Margins top and bottom to 20px and left and right 10px */
/* margin  */
article p,
article h3 {
}

/* TODO Transform the text to capitalize each word*/
article h3,
article h2 {
}
/* responsive */
/* TODO Articles will now span the entire block of the grid */
/* TODO Articles should go to a two column split (display grid) */
/* TODO Articles template columns 1fr 1fr */
/* TODO Articles gap 60px */
/* TODO Articles align items center */

@media screen and (max-width: 980px) {
  article {
  }
}

/* TODO Articles will now span the entire block of the grid */
/* TODO Articles should go to a one column split (display block) */
/* TODO Articles margin 0 20px */
@media screen and (max-width: 760px) {
  article,
  article.featured {
  }
}

/* hover state */

/* TODO Image Hover Scale (1.1) and transform is 0.5s */

article img:hover,
article.featured img:hover {
}
