.grid-container {
  background: #eee;
  max-width: 900px;
  margin: 0 auto;
  display: grid;
  /* grid-template-columns: 300px 300px 300px; */
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 100px 100px 300px;
  grid-gap: 10px;

}

.grid-container > div {
  background: #ccc;
  text-align: center;
  padding: 20px;
  border: 1px solid #777;
}



.col-12 {
  grid-column: span 12;
}

.col-6 {
  grid-column: span 6;
}

.col-4 {
  grid-column: span 4;
}

.col-3 {
  grid-column: span 3;
}

.col-2 {
  grid-column: span 2;
}

.video-image{
    width: 100%;

}